<nav class="navbar navbar-inverse bg-inverse navbar-toggleable-md my-topbar" role="navigation">
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	</button>
	<a class="navbar-brand display-1" href="#">Leads Assess</a>
	<div class="collapse navbar-collapse" id="navbarNav">
		<ul class="navbar-nav">
			<li class="nav-item">
				<a routerLink="/form" routerLinkActive="active" class="nav-link">Form</a>
			</li>
			<li class="nav-item">
				<a routerLink="/assess" routerLinkActive="active" class="nav-link">Assess</a>
			</li>
			<li class="nav-item">
				<a routerLink="/analytics" routerLinkActive="active" class="nav-link">Analytics</a>
			</li>
		</ul>
	</div>
</nav>
<router-outlet></router-outlet>